.lineEdit {
    border: 2px solid #bf85ff;
    border-radius: 6px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    padding: 0 6px;
    border-right: none;
}

.lineEdit:focus {
    border-color: #bf85ff;
}

.btn {
    background: #b98af6;
    border-radius: 6px;
    color: #fff;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.btn:hover {
    background: #bf85ff;
}

.btn:pressed {
    background: #a877e8;
}
.processBar{
    border: none;
    padding: 0;
    text-align: center;
    color: #666;
    border-radius: 15px;
}
.processBar::chunk {
    background: #b98af6;
    border-radius: 15px;
}


QWidget#msg_widget{
    background: rgba(0, 0, 0, 0.56);
    border-radius: 4px;
    opacity: 0.6;
}
QLabel#msg_label{
    color: #fff;
}

QWidget#header_widget{
    border-bottom: 1px solid #eee;
}
QPushButton#close_btn{
    margin-right: 20px;
    background: none;
    border: none;
}

QPushButton#on_btn{
    color: #fff;
    background: #b98af6;
    border-radius: 4px;
    border: none;
}
QPushButton#on_btn:hover{
    background: #af7fee;
}
QPushButton#cancle_btn{
    color: #666;
    background: #eeeeee;
    border-radius: 4px;
    border: none;
}
QPushButton#cancle_btn:hover{
    background: #e0dfdf;
}
QListWidget#list{
    background: #fff;
    border:1px solid #d4c0fd;
    /*margin-top: 40px;*/
    border-radius: 12px;
    padding: 6px;
    outline: none;
}

QListWidget#list::Item{
    background-color: #ffffff;
    color: #000000;
    border: transparent;
    padding: 3px;
}
QListWidget#list::item:selected {
    border:none;
}
QListWidget#list::item:hover {
    background: none;
}
/* 滑动区域 */
QScrollBar:vertical {
    border: none;
    background: transparent;
    width: 10px;
    margin: 0;
}

/* 滑块 */
QScrollBar::handle:vertical {
    background: #d5d5d5;
    min-height: 20px;
    border-radius: 5px;
    border: none;
}

/* 下箭头 */
QScrollBar::add-line:vertical {
    border: 0 solid grey;
    background: none;
    height: 0;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
}

/* 上箭头 */
QScrollBar::sub-line:vertical {
    border: 0 solid grey;
    background: none;
    height: 0;
    subcontrol-position: top;
    subcontrol-origin: margin;
}

/* 滑动区域 */
QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
    background: none;
    width: 0;
    height: 0;
}

/* 类似 hover */
QScrollBar::handle:vertical:hover, QScrollBar::handle:vertical:pressed {
    background: #c5c5c5;
}